html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Almarai", sans-serif;
}
#header {
  background-color: #811538;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
  border-bottom: 20px solid #5b0d25;
}
#header-background {
  background-image: url("pattern.png");
}
#logo-header {
  position: absolute;
  z-index: 999;
  top: 60px;
  left: 100px;
}
#logo-img {
  width: 200px;
  height: 250px;
  -webkit-filter: drop-shadow(5px 5px 30px #222);
  filter: drop-shadow(5px 5px 30px #222);
}
/* Flaired edges */

hr.style-eight {
  height: 30px;
  border-style: solid;
  border-color: black;
  border-width: 1px 0 0 0;
  border-radius: 20px;
}
hr.style-eight:before {
  display: block;
  content: "";
  height: 30px;
  margin-top: -31px;
  border-style: solid;
  border-color: black;
  border-width: 0 0 1px 0;
  border-radius: 20px;
}
.hr-color {
  background: rgb(2, 0, 36);

  background: linear-gradient(
    136deg,
    rgb(179 44 44 / 29%) 0%,
    rgb(197 11 11 / 49%) 35%,
    rgb(255 0 0 / 23%) 100%
  );
  margin-top: 48px;
  width: 100%;
  border-radius: 30px;
  height: 16px;
}
/* .up {
  position: fixed;
  bottom: 10px;
  right: -70px;
  background-color: #ff5722;
  color: wheat;
  font-weight: bold;
  font-size: 12px;
  padding: 15px;
  border-radius: 4px;
  font-family: Arial, Tahoma;
  cursor: pointer;
  transition: 0.2s;

  display: flex;
  justify-content: center;
  align-items: center;
}
.up.show {
  right: 10px;
} */
.up {
  display: inline-block;
  background-color: #dd0042;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 24px;
  position: fixed;
  bottom: 20px;
  right: -80px;
  z-index: 1000;
  transition: 0.4s;
}
.up::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}
.up:hover {
  cursor: pointer;
  background-color: #811538;
}
.up:active {
  background-color: #555;
}
.up.show {
  right: 30px;
}
